

.pokegallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  margin: 5px; 
  
  
}

.card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 6px 10px 5px 0px rgba(199, 197, 199, 0.75); 
  
} 



body{
background-color: rgb(123, 162, 235);
background-repeat: no-repeat;
background-size: cover;
} 




.Caracteristicas{
  border: solid 2px ; 
  height: 100%;
  width: 150px;
  background-color: rgb(103, 103, 25); 
  display: grid;
  grid-row-start:initial ;
  
} 

.pokemones{
  height: 40%;
  width: 40%; 
  margin-right: 60px;
  margin-top: -1000%;
  margin-left: 50%;
  
} 

.pokemon-type-text{
  text-align: center;
} 
.card-top{
  text-align: center;
}
