.card {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 6px 10px 5px 0px rgba(199, 197, 199, 0.75); 
   
  } 
  .imagenes{ 
    margin-top: auto;
    height: 150px; 
    width: 160px; 
    background-color: rgb(211, 174, 118); 
    flex-direction: row;
  }